<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ServicesFinder">
        <activity
            android:name=".view.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".view.ProviderDashboardActivity" />

        <activity
            android:name=".view.ProviderEntryActivity"
            android:exported="true"/>
        <activity
            android:name=".view.CustomerAuthActivity"
            android:exported="false"
            android:theme="@style/Theme.ServicesFinder"/>
        <activity
            android:name=".view.ServiceDetailActivity"
            android:label="Service Details"
            android:parentActivityName=".view.MainActivity"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".view.MainActivity" />
        </activity>
        <activity
            android:name=".view.EditProfileActivity"
            android:label="Profile Editing"
            android:parentActivityName=".view.ProviderDashboardActivity">

        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value=".view.MainActivity" />
        </activity>



    </application>

</manifest>